<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }} - {{ site.name }}</title>
        <meta name="viewport" content="width=device-width">
        {% if page.excerpt %}<meta name="description" content="{{ page.excerpt | remove: '<p>' | remove: '</p>' | strip_html }}">{% else %}<meta name="description" content="trys mudford. front-end developer in sussex">{% endif %}
        <link href='http://fonts.googleapis.com/css?family=Noticia+Text:400,400italic,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/assets/css/style.css">
    </head>
    <body>
        <div class="site-container">
            {% if page.path == 'index.html' %}<header class="top home">{% else %}<header class="top">{% endif %}
                <h2 class="site-title"><a href="/"><span>{{ site.name }}</span></a></h2>
            </header>