{% include header.html %}
            <figure class="hero">
                <h1 class="entry-title">category: {{ page.title }}</h1>
            </figure>
            <main role="main" class="main">
            	{% assign post_count = 1 %}
                <ul class="posts">{% for post in site.posts %}
                	{% if post.categories contains page.category %}
                    {% include content-archive.html %}
                    {% endif %}
                {% endfor %}
                {% if post_count == 1 %}
                	<li>
                		No posts found in this category
                	</li>
                {% endif %}
                </ul>
                {% include author.html %}
            </main>
            {% include footer.html %}