---
layout: default
---
<section class="post-container">
                <time class="article-date" datetime="{{ page.date  }}">{{ page.date | date: "%d/%m/%y" }}</time>
                <main role="main" class="main">
                    <div class="article-main">
                        {{ content }}
                        {% if page.categories %}
                        <span class="post-categories">Posted in: 
                            {% for category in page.categories %}
                                <a href="/categories/{{ category }}">{{ category }} </a>
                            {% endfor %}
                        </span>
                        {% endif %}
                        {% include author.html %}
                    </div>
                    <aside class="comments">
                        <div id="disqus_thread"></div>
                        <script type="text/javascript">
                            var disqus_shortname = 'trysmudford';
                            (function() {
                                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                            })();
                        </script>  
                    </aside>
                </main>
            </section>